@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Space+Grotesk:wght@300..700&display=swap');
@import '../colors.scss';


.homeContainer{
    display: flex;
    justify-content: center;
    margin-top: 40px;
    
}

.courseswrapper{
    display: flex;
    justify-content: center;
    h1{
        font-family: "Space Grotesk", serif;
        font-size: 1.5rem;
        color: var(--text-primary);
        text-decoration: none;
    }
}

